In [1]:
import pandas as pd
data_url = '../dataset/' #csv파일이 있는 경로 수정
dataset = pd.read_csv(data_url + '2019-Oct.csv')

In [2]:
dataset.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [3]:
# dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42448764 entries, 0 to 42448763
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
 8   user_session   object
dtypes: float64(1), int64(3), object(5)
memory usage: 2.8+ GB

In [4]:
# dataset.isnull().sum()

event_time              0
event_type              0
product_id              0
category_id             0
category_code    13515609
brand             6117080
price                   0
user_id                 0
user_session            2
dtype: int64

### null값
* category_code
* brand
* user_session
---

### session의 결측치 처리

In [5]:
session_copy = dataset['user_session'].copy()

In [6]:
# session_copy[session_copy.isnull()]

7157243     NaN
33940774    NaN
Name: user_session, dtype: object

결측치가 있는 행 인덱스
* 7157243
* 33940774

In [7]:
# dataset.iloc[33940774]

event_time       2019-10-25 10:36:14 UTC
event_type                          cart
product_id                       1004767
category_id          2053013555631882655
category_code     electronics.smartphone
brand                            samsung
price                             246.52
user_id                        549825742
user_session                         NaN
Name: 33940774, dtype: object

In [8]:
# dataset.iloc[[7157243,33940774]]

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
7157243,2019-10-06 14:26:10 UTC,cart,1801723,2053013554415534427,electronics.video.tv,tcl,135.65,557388939,NaN
33940774,2019-10-25 10:36:14 UTC,cart,1004767,2053013555631882655,electronics.smartphone,samsung,246.52,549825742,NaN

* 동일 id로 검색

In [9]:
# dataset[dataset['user_id'] == 557388939]

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
7149567,2019-10-06 14:20:18 UTC,view,50700029,2175419595093967522,NaN,yema,48.65,557388939,69e2aec8-4022-45cc-9fb0-48300f6b018e
7151921,2019-10-06 14:22:05 UTC,view,1801766,2053013554415534427,electronics.video.tv,artel,150.43,557388939,e24814e3-6587-4f74-8f92-6ac44b9b94ba
7153724,2019-10-06 14:23:25 UTC,cart,1801766,2053013554415534427,electronics.video.tv,artel,150.43,557388939,e24814e3-6587-4f74-8f92-6ac44b9b94ba
7154261,2019-10-06 14:23:50 UTC,view,1801766,2053013554415534427,electronics.video.tv,artel,150.43,557388939,27eb4e3f-4951-41f5-9ca1-2c8ea537215b
7156089,2019-10-06 14:25:18 UTC,view,1801723,2053013554415534427,electronics.video.tv,tcl,135.65,557388939,9c11ac2d-5c56-4994-87e4-ea077ab0ab45
7157243,2019-10-06 14:26:10 UTC,cart,1801723,2053013554415534427,electronics.video.tv,tcl,135.65,557388939,NaN
8123931,2019-10-07 10:15:39 UTC,view,1801723,2053013554415534427,electronics.video.tv,tcl,135.65,557388939,083ceaa9-32d0-4e45-a67c-40bfaba0a275

In [10]:
# dataset[dataset['user_id'] == 549825742]

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
33820866,2019-10-25 09:01:50 UTC,view,1004767,2053013555631882655,electronics.smartphone,samsung,246.52,549825742,aac8b299-4355-4c25-bbfe-c0369f19a3ce
33834071,2019-10-25 09:12:12 UTC,cart,1004767,2053013555631882655,electronics.smartphone,samsung,246.52,549825742,aac8b299-4355-4c25-bbfe-c0369f19a3ce
33834776,2019-10-25 09:12:42 UTC,cart,1004767,2053013555631882655,electronics.smartphone,samsung,246.52,549825742,aac8b299-4355-4c25-bbfe-c0369f19a3ce
33835027,2019-10-25 09:12:52 UTC,cart,1004767,2053013555631882655,electronics.smartphone,samsung,246.52,549825742,aac8b299-4355-4c25-bbfe-c0369f19a3ce
33840806,2019-10-25 09:17:05 UTC,cart,1004767,2053013555631882655,electronics.smartphone,samsung,246.52,549825742,aac8b299-4355-4c25-bbfe-c0369f19a3ce
33881748,2019-10-25 09:49:33 UTC,view,1004433,2053013555631882655,electronics.smartphone,samsung,257.15,549825742,56fc550f-2ac9-4baf-a7eb-1d40320560a8
33882627,2019-10-25 09:50:12 UTC,view,1004434,2053013555631882655,electronics.smartphone,samsung,257.15,549825742,56fc550f-2ac9-4baf-a7eb-1d40320560a8
33884831,2019-10-25 09:51:50 UTC,view,1003548,2053013555631882655,electronics.smartphone,samsung,282.84,549825742,56fc550f-2ac9-4baf-a7eb-1d40320560a8
33886045,2019-10-25 09:52:44 UTC,view,1000978,2053013555631882655,electronics.smartphone,samsung,333.49,549825742,56fc550f-2ac9-4baf-a7eb-1d40320560a8
33886865,2019-10-25 09:53:22 UTC,view,1004990,2053013555631882655,electronics.smartphone,oppo,257.38,549825742,56fc550f-2ac9-4baf-a7eb-1d40320560a8
33940774,2019-10-25 10:36:14 UTC,cart,1004767,2053013555631882655,electronics.smartphone,samsung,246.52,549825742,NaN

* 두 결측치 모두 동일 날짜에 이벤트가 이루어지고 이전 이벤트와 시간이 유의미할만큼 차이가 없다고 판단해 이전 이벤트의 세션값과 동일하게 대치함

In [11]:
cp = dataset['user_session'].copy()

In [12]:
cp.iloc[7157243] = '9c11ac2d-5c56-4994-87e4-ea077ab0ab45'

In [13]:
cp.iloc[33940774] = '56fc550f-2ac9-4baf-a7eb-1d40320560a8'

In [14]:
dataset['user_session'] = cp

In [15]:
# dataset['user_session'].isnull().sum()

0

---

### user_session 간소화

In [16]:
# cp[0][-12:-1]

'a032dfed738'

* 뒤의 11자리만 추출

In [17]:
# cp1 = cp.copy().apply(lambda x: x[-12:-1])

In [18]:
# cp.nunique()

9244421

In [19]:
# cp1.nunique()

9244418

* 고유값의 개수가 일치하지않음

* 11자리 포함 뒤의 2자리 추가

In [20]:
# cp[0][-15:-1]

'23-a032dfed738'

In [21]:
cp1 = cp.copy().apply(lambda x: x[-15:-1])

In [22]:
# cp.nunique()

9244421

In [23]:
# cp1.nunique()

9244421

* 고유값 개수가 일치하므로 대체해도 될 듯

In [24]:
dataset['user_session'] = cp1

In [25]:
# dataset['user_session']

0           23-a032dfed738
1           57-6336556b0fc
2           95-cf8e6e792ca
3           f3-13c02c18c71
4           b4-8cec9ff8b80
                 ...
42448759    9c-18bb5b38519
42448760    f1-16fc1a060ed
42448761    f7-961bcb4719c
42448762    9d-046356a5a20
42448763    d6-fa77f14cefd
Name: user_session, Length: 42448764, dtype: object

---

### brand의 결측치

In [26]:
cp = dataset[['product_id', 'brand']].copy()

In [27]:
# cp['product_id'].value_counts().index

Int64Index([ 1004856,  1004767,  1005115,  1004833,  1004249,  1004870,
             1005105,  4804056,  1002544,  5100816,
            ...
            27800173,  5100726, 24800145,  4500512, 15400191, 12704418,
             9002880, 11900275, 50300306, 19000980],
           dtype='int64', length=166794)

* product_id 개수 166794

In [28]:
cpy_1 = cp.sort_values('product_id').drop_duplicates(keep='first').copy()

In [29]:
# product_id 중 중복된 id 제거, id가 중복되더라도 브랜드명이 없다면 유지
# cpy_1

          product_id    brand
37172840     1000978  samsung
28356720     1000978      NaN
11874100     1001588    meizu
14162636     1001606    apple
3839124      1002042  samsung
...              ...      ...
39614257    60500007   denzel
34176506    60500007      NaN
40163696    60500008      NaN
41940597    60500009      NaN
41867764    60500010    stavr

[174537 rows x 2 columns]

In [30]:
dict = {}
for id, brand in zip(cpy_1['product_id'],cpy_1['brand']):
    if id in dict:
        continue
    else:
        dict[id] = brand

In [31]:
# 고유한 product_id와 brand명
# len(dict)

166794

In [32]:
# cp

          product_id      brand
0           44600062   shiseido
1            3900821       aqua
2           17200506        NaN
3            1307067     lenovo
4            1004237      apple
...              ...        ...
42448759     2300275      gopro
42448760    10800172    redmond
42448761     5701038    kenwood
42448762    21407424     tissot
42448763    13300120  swisshome

[42448764 rows x 2 columns]

In [33]:
for i in range(len(cp)):
    if type(cp.loc[i,'brand']) != str:
        cp.loc[i,'brand'] = dict[cp.loc[i,'product_id']]

In [34]:
# cp.isnull().sum()

product_id          0
brand         6039215
dtype: int64

In [35]:
cp['brand'].fillna('etc',inplace=True)

In [36]:
# cp.isnull().sum()

product_id    0
brand         0
dtype: int64

In [37]:
# cp['brand'].value_counts()

etc            6039215
samsung        5291216
apple          4124618
xiaomi         3087399
huawei         1111680
                ...
nicalis              1
fireball             1
grand                1
sx                   1
skindoctors          1
Name: brand, Length: 3445, dtype: int64

In [38]:
dataset['brand'] = cp['brand']

---

### time을 date와 time으로 나누는게 좋을 듯

In [39]:
# dataset

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,23-a032dfed738
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,57-6336556b0fc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,etc,543.10,519107250,95-cf8e6e792ca
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,f3-13c02c18c71
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,b4-8cec9ff8b80
...,...,...,...,...,...,...,...,...,...
42448759,2019-10-31 23:59:58 UTC,view,2300275,2053013560530830019,electronics.camera.video,gopro,527.40,537931532,9c-18bb5b38519
42448760,2019-10-31 23:59:58 UTC,view,10800172,2053013554994348409,NaN,redmond,61.75,527322328,f1-16fc1a060ed
42448761,2019-10-31 23:59:58 UTC,view,5701038,2053013553970938175,auto.accessories.player,kenwood,128.70,566280422,f7-961bcb4719c
42448762,2019-10-31 23:59:59 UTC,view,21407424,2053013561579406073,electronics.clocks,tissot,689.85,513118352,9d-046356a5a20
42448763,2019-10-31 23:59:59 UTC,view,13300120,2053013557166998015,NaN,swisshome,155.73,525266378,d6-fa77f14cefd

In [40]:
cop_time = dataset['event_time'].copy()

In [41]:
# cop_time[0][11:19]

'00:00:00'

In [42]:
date = [cop_time[i][:10] for i in range(len(cop_time))]

In [43]:
time = [cop_time[i][11:19] for i in range(len(cop_time))]

In [44]:
dataset['date'] = date

In [45]:
dataset['time'] = time

---

### 카테고리코드 결측치 & 컬럼 분할

In [46]:
# dataset['category_code'].value_counts()

electronics.smartphone          11507231
electronics.clocks               1311033
computers.notebook               1137623
electronics.video.tv             1113750
electronics.audio.headphone      1100188
                                  ...
construction.tools.soldering         632
apparel.shorts                       632
apparel.jacket                       436
auto.accessories.anti_freeze         308
country_yard.furniture.bench         190
Name: category_code, Length: 126, dtype: int64

In [47]:
cpy = dataset[['category_id','category_code']].copy()

In [48]:
# cpy.isnull().sum()

category_id             0
category_code    13515609
dtype: int64

In [49]:
# cpy['category_id'].value_counts()

2053013555631882655    11507231
2053013553559896355     1888744
2053013558920217191     1130645
2053013554415534427     1105635
2053013554658804075     1100188
                         ...
2053013555690602915           4
2053013560388223675           3
2053013559381590653           2
2146306510567768475           1
2145727308156108933           1
Name: category_id, Length: 624, dtype: int64

In [50]:
# cpy.loc[cpy['category_id'] == 2053013555631882655]

                  category_id           category_code
4         2053013555631882655  electronics.smartphone
9         2053013555631882655  electronics.smartphone
11        2053013555631882655  electronics.smartphone
19        2053013555631882655  electronics.smartphone
20        2053013555631882655  electronics.smartphone
...                       ...                     ...
42448744  2053013555631882655  electronics.smartphone
42448746  2053013555631882655  electronics.smartphone
42448751  2053013555631882655  electronics.smartphone
42448752  2053013555631882655  electronics.smartphone
42448757  2053013555631882655  electronics.smartphone

[11507231 rows x 2 columns]

In [51]:
cpy_1 = cpy.sort_values('category_id').drop_duplicates()

In [52]:
dict = {}
for id, code in zip(cpy_1['category_id'],cpy_1['category_code']):
    if id in dict:
        continue
    else:
        dict[id] = code

In [53]:
# len(dict)

624

In [54]:
for i in range(len(cpy)):
    if type(cpy.loc[i,'category_code']) != str:
        cpy.loc[i,'category_code'] = dict[cpy.loc[i,'category_id']]

In [55]:
# cpy.isnull().sum()

category_id             0
category_code    13515609
dtype: int64

* id에 연결된 code가 모두 null

In [56]:
cpy.fillna('empty',inplace=True)

In [57]:
# cpy

                  category_id                        category_code
0         2103807459595387724                                empty
1         2053013552326770905  appliances.environment.water_heater
2         2053013559792632471           furniture.living_room.sofa
3         2053013558920217191                   computers.notebook
4         2053013555631882655               electronics.smartphone
...                       ...                                  ...
42448759  2053013560530830019             electronics.camera.video
42448760  2053013554994348409                                empty
42448761  2053013553970938175              auto.accessories.player
42448762  2053013561579406073                   electronics.clocks
42448763  2053013557166998015                                empty

[42448764 rows x 2 columns]

In [58]:
# 카테고리 코드를 '.'을 기준으로 스플릿
li = []
for i in range(len(cpy)):
    li.append(cpy['category_code'].iloc[i].split('.'))

In [59]:
# li

[['empty'],
 ['appliances', 'environment', 'water_heater'],
 ['furniture', 'living_room', 'sofa'],
 ['computers', 'notebook'],
 ['electronics', 'smartphone'],
 ['computers', 'desktop'],
 ['empty'],
 ['empty'],
 ['apparel', 'shoes', 'keds'],
 ['electronics', 'smartphone'],
 ['appliances', 'kitchen', 'microwave'],
 ['electronics', 'smartphone'],
 ['appliances', 'environment', 'water_heater'],
 ['empty'],
 ['furniture', 'bedroom', 'bed'],
 ['empty'],
 ['electronics', 'video', 'tv'],
 ['appliances', 'kitchen', 'mixer'],
 ['computers', 'notebook'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'audio', 'headphone'],
 ['computers', 'desktop'],
 ['electronics', 'smartphone'],
 ['appliances', 'environment', 'air_heater'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'environment', 'water_heater'],
 ['empty'],
 ['empty'],
 ['apparel', 'shoes', 'keds'],
 ['furniture', 'bedroom', 'bed'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['apparel', 'shoes'],
 ['appliances', 'environment', 'vacuum'],
 ['appliances', 'environment', 'water_heater'],
 ['apparel', 'shoes', 'keds'],
 ['appliances', 'kitchen', 'refrigerators'],
 ['apparel', 'shoes'],
 ['empty'],
 ['appliances', 'environment', 'vacuum'],
 ['empty'],
 ['appliances', 'kitchen', 'washer'],
 ['empty'],
 ['appliances', 'kitchen', 'washer'],
 ['appliances', 'kitchen', 'microwave'],
 ['electronics', 'smartphone'],
 ['computers', 'peripherals', 'monitor'],
 ['electronics', 'smartphone'],
 ['electronics', 'audio', 'headphone'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['furniture', 'bedroom', 'bed'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['computers', 'notebook'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'audio', 'headphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'audio', 'headphone'],
 ['appliances', 'environment', 'water_heater'],
 ['appliances', 'environment', 'vacuum'],
 ['empty'],
 ['empty'],
 ['appliances', 'kitchen', 'mixer'],
 ['electronics', 'smartphone'],
 ['computers', 'notebook'],
 ['computers', 'notebook'],
 ['electronics', 'smartphone'],
 ['construction', 'tools', 'pump'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['electronics', 'video', 'tv'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['apparel', 'shoes', 'keds'],
 ['appliances', 'kitchen', 'mixer'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['appliances', 'environment', 'water_heater'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['appliances', 'environment', 'water_heater'],
 ['electronics', 'video', 'tv'],
 ['empty'],
 ['appliances', 'environment', 'water_heater'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'environment', 'water_heater'],
 ['electronics', 'smartphone'],
 ['electronics', 'video', 'tv'],
 ['computers', 'desktop'],
 ['appliances', 'environment', 'air_heater'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['construction', 'tools', 'pump'],
 ['electronics', 'smartphone'],
 ['computers', 'notebook'],
 ['electronics', 'smartphone'],
 ['electronics', 'clocks'],
 ['appliances', 'environment', 'vacuum'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['appliances', 'environment', 'vacuum'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['computers', 'desktop'],
 ['empty'],
 ['apparel', 'shoes', 'slipons'],
 ['apparel', 'shoes', 'keds'],
 ['empty'],
 ['appliances', 'environment', 'vacuum'],
 ['appliances', 'environment', 'air_heater'],
 ['electronics', 'smartphone'],
 ['appliances', 'kitchen', 'washer'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['construction', 'tools', 'pump'],
 ['empty'],
 ['appliances', 'environment', 'air_heater'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['computers', 'notebook'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['appliances', 'environment', 'vacuum'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['furniture', 'living_room', 'sofa'],
 ['electronics', 'audio', 'headphone'],
 ['computers', 'notebook'],
 ['apparel', 'shoes'],
 ['furniture', 'living_room', 'chair'],
 ['empty'],
 ['appliances', 'kitchen', 'washer'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'environment', 'air_heater'],
 ['empty'],
 ['electronics', 'clocks'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'kitchen', 'refrigerators'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'clocks'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['auto', 'accessories', 'compressor'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['appliances', 'environment', 'air_heater'],
 ['apparel', 'shoes', 'keds'],
 ['auto', 'accessories', 'compressor'],
 ['electronics', 'clocks'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['computers', 'notebook'],
 ['appliances', 'kitchen', 'meat_grinder'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['apparel', 'shoes', 'keds'],
 ['apparel', 'shoes'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['appliances', 'environment', 'air_heater'],
 ['apparel', 'shoes'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'environment', 'air_heater'],
 ['computers', 'desktop'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['appliances', 'environment', 'air_heater'],
 ['apparel', 'shoes', 'keds'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['computers', 'notebook'],
 ['electronics', 'smartphone'],
 ['construction', 'tools', 'pump'],
 ['empty'],
 ['apparel', 'shoes', 'keds'],
 ['empty'],
 ['furniture', 'living_room', 'chair'],
 ['empty'],
 ['empty'],
 ['appliances', 'environment', 'air_heater'],
 ['electronics', 'smartphone'],
 ['computers', 'notebook'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['appliances', 'environment', 'air_heater'],
 ['electronics', 'smartphone'],
 ['electronics', 'clocks'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['apparel', 'shoes'],
 ['construction', 'tools', 'pump'],
 ['empty'],
 ['appliances', 'environment', 'air_heater'],
 ['electronics', 'smartphone'],
 ['computers', 'notebook'],
 ['computers', 'components', 'videocards'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'kitchen', 'refrigerators'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['appliances', 'kitchen', 'microwave'],
 ['electronics', 'smartphone'],
 ['furniture', 'kitchen', 'table'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['electronics', 'clocks'],
 ['empty'],
 ['empty'],
 ['appliances', 'environment', 'vacuum'],
 ['electronics', 'clocks'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['furniture', 'kitchen', 'table'],
 ['empty'],
 ['appliances', 'environment', 'vacuum'],
 ['empty'],
 ['computers', 'desktop'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['furniture', 'kitchen', 'table'],
 ['construction', 'tools', 'drill'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['construction', 'tools', 'pump'],
 ['electronics', 'clocks'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['construction', 'tools', 'pump'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['appliances', 'kitchen', 'refrigerators'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['apparel', 'shoes', 'keds'],
 ['construction', 'tools', 'pump'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['kids', 'toys'],
 ['empty'],
 ['empty'],
 ['appliances', 'kitchen', 'refrigerators'],
 ['appliances', 'kitchen', 'refrigerators'],
 ['electronics', 'smartphone'],
 ['construction', 'tools', 'pump'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['apparel', 'shoes'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['appliances', 'kitchen', 'refrigerators'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['computers', 'desktop'],
 ['electronics', 'smartphone'],
 ['electronics', 'clocks'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'clocks'],
 ['electronics', 'audio', 'headphone'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['computers', 'desktop'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['appliances', 'environment', 'air_heater'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['electronics', 'clocks'],
 ['empty'],
 ['computers', 'notebook'],
 ['appliances', 'kitchen', 'refrigerators'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['appliances', 'environment', 'air_heater'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['electronics', 'telephone'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'kitchen', 'refrigerators'],
 ['furniture', 'bathroom', 'toilet'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'environment', 'air_heater'],
 ['appliances', 'kitchen', 'washer'],
 ['construction', 'tools', 'drill'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['auto', 'accessories', 'alarm'],
 ['electronics', 'clocks'],
 ['appliances', 'kitchen', 'washer'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['electronics', 'clocks'],
 ['electronics', 'smartphone'],
 ['appliances', 'environment', 'vacuum'],
 ['appliances', 'kitchen', 'mixer'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['computers', 'desktop'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'clocks'],
 ['electronics', 'audio', 'headphone'],
 ['electronics', 'audio', 'headphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['computers', 'notebook'],
 ['apparel', 'sock'],
 ['appliances', 'kitchen', 'refrigerators'],
 ['empty'],
 ['auto', 'accessories', 'player'],
 ['empty'],
 ['electronics', 'clocks'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['electronics', 'audio', 'headphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['appliances', 'environment', 'vacuum'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['appliances', 'kitchen', 'grill'],
 ['electronics', 'tablet'],
 ['empty'],
 ['empty'],
 ['appliances', 'environment', 'air_heater'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'audio', 'headphone'],
 ['computers', 'notebook'],
 ['furniture', 'bathroom', 'toilet'],
 ['construction', 'tools', 'drill'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['apparel', 'shoes', 'keds'],
 ['empty'],
 ['appliances', 'kitchen', 'refrigerators'],
 ['apparel', 'shoes'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['appliances', 'kitchen', 'dishwasher'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'kitchen', 'refrigerators'],
 ['appliances', 'personal', 'hair_cutter'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'kitchen', 'washer'],
 ['apparel', 'shoes'],
 ['kids', 'skates'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['apparel', 'shoes', 'keds'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'kitchen', 'washer'],
 ['empty'],
 ['appliances', 'kitchen', 'washer'],
 ['kids', 'skates'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'kitchen', 'grill'],
 ['appliances', 'kitchen', 'dishwasher'],
 ['electronics', 'audio', 'headphone'],
 ['furniture', 'kitchen', 'table'],
 ['apparel', 'shoes', 'keds'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'environment', 'air_heater'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['appliances', 'kitchen', 'washer'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'audio', 'headphone'],
 ['computers', 'notebook'],
 ['empty'],
 ['empty'],
 ['appliances', 'kitchen', 'refrigerators'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['furniture', 'kitchen', 'table'],
 ['apparel', 'shoes'],
 ['appliances', 'environment', 'air_heater'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'audio', 'headphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'environment', 'vacuum'],
 ['appliances', 'environment', 'air_heater'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['appliances', 'kitchen', 'coffee_machine'],
 ['appliances', 'environment', 'air_heater'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'kitchen', 'washer'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['appliances', 'environment', 'air_heater'],
 ['empty'],
 ['appliances', 'kitchen', 'refrigerators'],
 ['electronics', 'smartphone'],
 ['electronics', 'video', 'tv'],
 ['apparel', 'shoes'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['appliances', 'environment', 'vacuum'],
 ['electronics', 'audio', 'headphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['appliances', 'kitchen', 'washer'],
 ['electronics', 'audio', 'headphone'],
 ['empty'],
 ['empty'],
 ['computers', 'notebook'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['computers', 'notebook'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['appliances', 'kitchen', 'washer'],
 ['furniture', 'kitchen', 'table'],
 ['furniture', 'kitchen', 'table'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['appliances', 'environment', 'air_conditioner'],
 ['auto', 'accessories', 'player'],
 ['computers', 'desktop'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'kitchen', 'washer'],
 ['empty'],
 ['electronics', 'audio', 'headphone'],
 ['electronics', 'audio', 'headphone'],
 ['computers', 'notebook'],
 ['empty'],
 ['electronics', 'video', 'tv'],
 ['auto', 'accessories', 'alarm'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'audio', 'subwoofer'],
 ['empty'],
 ['appliances', 'environment', 'air_heater'],
 ['empty'],
 ['electronics', 'audio', 'headphone'],
 ['empty'],
 ['appliances', 'kitchen', 'washer'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['appliances', 'kitchen', 'microwave'],
 ['empty'],
 ['computers', 'desktop'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['appliances', 'kitchen', 'washer'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['electronics', 'audio', 'headphone'],
 ['empty'],
 ['empty'],
 ['electronics', 'clocks'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['computers', 'desktop'],
 ['appliances', 'kitchen', 'washer'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['appliances', 'kitchen', 'blender'],
 ['empty'],
 ['appliances', 'kitchen', 'refrigerators'],
 ['electronics', 'smartphone'],
 ['furniture', 'kitchen', 'table'],
 ['appliances', 'sewing_machine'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['sport', 'trainer'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['appliances', 'kitchen', 'washer'],
 ['empty'],
 ['electronics', 'audio', 'headphone'],
 ['appliances', 'kitchen', 'washer'],
 ['electronics', 'camera', 'video'],
 ['appliances', 'kitchen', 'meat_grinder'],
 ['furniture', 'kitchen', 'table'],
 ['appliances', 'environment', 'air_heater'],
 ['computers', 'components', 'videocards'],
 ['computers', 'notebook'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['appliances', 'kitchen', 'washer'],
 ['empty'],
 ['electronics', 'audio', 'headphone'],
 ['empty'],
 ['appliances', 'environment', 'air_conditioner'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['appliances', 'environment', 'air_heater'],
 ['furniture', 'kitchen', 'table'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['appliances', 'environment', 'air_heater'],
 ['appliances', 'kitchen', 'refrigerators'],
 ['appliances', 'kitchen', 'refrigerators'],
 ['empty'],
 ['appliances', 'environment', 'water_heater'],
 ['empty'],
 ['computers', 'desktop'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'environment', 'air_heater'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'environment', 'air_conditioner'],
 ['appliances', 'environment', 'air_heater'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['computers', 'desktop'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'video', 'tv'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['appliances', 'environment', 'air_conditioner'],
 ['computers', 'components', 'videocards'],
 ['empty'],
 ['empty'],
 ['empty'],
 ['appliances', 'kitchen', 'washer'],
 ['appliances', 'environment', 'air_heater'],
 ['empty'],
 ['computers', 'desktop'],
 ['appliances', 'environment', 'air_heater'],
 ['empty'],
 ['appliances', 'environment', 'air_conditioner'],
 ['appliances', 'kitchen', 'meat_grinder'],
 ['electronics', 'smartphone'],
 ['furniture', 'living_room', 'sofa'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['empty'],
 ['empty'],
 ['appliances', 'kitchen', 'washer'],
 ['empty'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['electronics', 'audio', 'headphone'],
 ['electronics', 'smartphone'],
 ['electronics', 'smartphone'],
 ['appliances', 'environment', 'air_conditioner'],
 ['empty'],
 ['computers', 'desktop'],
 ['empty'],
 ['electronics', 'smartphone'],
 ['appliances', 'environment', 'air_heater'],
 ['empty'],
 ['computers', 'notebook'],
 ['electronics', 'audio', 'headphone'],
 ['appliances', 'kitchen', 'meat_grinder'],
 ['apparel', 'shoes', 'keds'],
 ['empty'],
 ['appliances', 'environment', 'air_conditioner'],
 ['furniture', 'living_room', 'sofa'],

In [60]:
# 1분류 2분류 3분류 각각 분할해서 리스트로 저장
cat_first = []
cat_second = []
cat_third = []
for i in li:
    cat_first.append(i[0])
    try:
        cat_second.append(i[1])
    except:
        cat_second.append(i[0])
        cat_third.append(i[0])
        continue
    try:
        cat_third.append(i[2])
    except:
        cat_third.append(i[1])

In [61]:
dataset['first_level'] = cat_first
dataset['secont_level'] = cat_second
dataset['third_level'] = cat_third

In [63]:
dataset

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,date,time,first_level,secont_level,third_level
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,23-a032dfed738,2019-10-01,00:00:00,empty,empty,empty
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,57-6336556b0fc,2019-10-01,00:00:00,appliances,environment,water_heater
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,etc,543.10,519107250,95-cf8e6e792ca,2019-10-01,00:00:01,furniture,living_room,sofa
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,f3-13c02c18c71,2019-10-01,00:00:01,computers,notebook,notebook
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,b4-8cec9ff8b80,2019-10-01,00:00:04,electronics,smartphone,smartphone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42448759,2019-10-31 23:59:58 UTC,view,2300275,2053013560530830019,electronics.camera.video,gopro,527.40,537931532,9c-18bb5b38519,2019-10-31,23:59:58,electronics,camera,video
42448760,2019-10-31 23:59:58 UTC,view,10800172,2053013554994348409,NaN,redmond,61.75,527322328,f1-16fc1a060ed,2019-10-31,23:59:58,empty,empty,empty
42448761,2019-10-31 23:59:58 UTC,view,5701038,2053013553970938175,auto.accessories.player,kenwood,128.70,566280422,f7-961bcb4719c,2019-10-31,23:59:58,auto,accessories,player
42448762,2019-10-31 23:59:59 UTC,view,21407424,2053013561579406073,electronics.clocks,tissot,689.85,513118352,9d-046356a5a20,2019-10-31,23:59:59,electronics,clocks,clocks
42448763,2019-10-31 23:59:59 UTC,view,13300120,2053013557166998015,NaN,swisshome,155.73,525266378,d6-fa77f14cefd,2019-10-31,23:59:59,empty,empty,empty

In [64]:
# 기존 event_time과 category_code 컬럼 삭제
dataset.drop(['event_time','category_code'],axis=1,inplace=True)

In [65]:
# dataset.isnull().sum()

event_type      0
product_id      0
category_id     0
brand           0
price           0
user_id         0
user_session    0
date            0
time            0
first_level     0
secont_level    0
third_level     0
dtype: int64

In [66]:
dataset.to_csv(data_url + 'dataset.csv', index=False)

In [67]:
# dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42448764 entries, 0 to 42448763
Data columns (total 12 columns):
 #   Column        Dtype
---  ------        -----
 0   event_type    object
 1   product_id    int64
 2   category_id   int64
 3   brand         object
 4   price         float64
 5   user_id       int64
 6   user_session  object
 7   date          object
 8   time          object
 9   first_level   object
 10  secont_level  object
 11  third_level   object
dtypes: float64(1), int64(3), object(8)
memory usage: 3.8+ GB