In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
url = '../dataset/'
df = pd.read_csv(url+'dataset_light.csv')

In [2]:
df

,event_type,product_id,category_id,brand,price,user_id,user_session,date,time,first_level,secont_level,third_level
0,view,3900821,2053013552326770905,aqua,33.20,554748717,57-6336556b0fc,2019-10-01,00:00:00,appliances,environment,water_heater
1,view,1480613,2053013561092866779,pulser,908.62,512742880,a5-86594dec0db,2019-10-01,00:00:05,computers,desktop,desktop
2,view,31500053,2053013558031024687,luminarc,41.16,550978835,a7-abc6048498d,2019-10-01,00:00:08,empty,empty,empty
3,view,2900536,2053013554776244595,elenberg,51.46,555158050,9e-9ce44bb50ab,2019-10-01,00:00:11,appliances,kitchen,microwave
4,view,1480714,2053013561092866779,pulser,921.49,512742880,a5-86594dec0db,2019-10-01,00:00:22,computers,desktop,desktop
...,...,...,...,...,...,...,...,...,...,...,...,...
14052485,view,1004708,2053013555631882655,huawei,151.99,566031393,5c-cee9c52ab9a,2019-10-31,23:59:53,electronics,smartphone,smartphone
14052486,view,1480709,2053013561092866779,pulser,592.01,543124499,25-9a0d43297f9,2019-10-31,23:59:55,computers,desktop,desktop
14052487,view,5800263,2053013553945772349,alphard,92.67,551943550,3c-e04aa3163bb,2019-10-31,23:59:55,electronics,audio,subwoofer
14052488,view,1005008,2053013555631882655,xiaomi,94.46,557202408,61-ac70ff0c66e,2019-10-31,23:59:56,electronics,smartphone,smartphone
14052489,view,5100816,2053013553375346967,xiaomi,29.58,543653226,5b-21ab2010925,2019-10-31,23:59:58,empty,empty,empty

In [3]:
cpy = df[['product_id','category_id','brand','first_level','secont_level','third_level','price']].drop_duplicates('product_id').copy()

In [4]:
cpy_appliances = cpy[cpy['first_level'] == 'appliances'].copy()

In [5]:
cpy_appliances.index = cpy_appliances['product_id']

In [6]:
cpy_appliances.drop('product_id',axis=1,inplace=True)

In [7]:
cpy_appliances[cpy_appliances.index==1480456]

Empty DataFrame
Columns: [category_id, brand, first_level, secont_level, third_level, price]
Index: []

In [8]:
def con_price(x):
    if x < 10:
        return str(int(round(x)))
    elif x < 100:
        return str(int(round(x,-1)))
    elif x < 1000:
        return str(int(round(x,-2)))
    elif x < 10000:
        return str(int(round(x,-3)))

In [9]:
cpy_appliances['price'] = cpy_appliances['price'].apply(lambda x : con_price(x))
cpy_appliances['category_id'] = cpy_appliances['category_id'].apply(lambda x : str(x))

In [9]:
cpy.drop('category_id',axis=1,inplace=True)

In [10]:
info_list = []
for i in range(len(cpy_appliances)):
    info_list.append(' '.join(cpy_appliances.iloc[i]))

In [11]:
vect = CountVectorizer()
convert = vect.fit_transform(info_list)

In [12]:
len(convert.toarray())

11427

In [13]:
convert_df = pd.DataFrame(convert.toarray(), columns=sorted(vect.vocabulary_))

In [15]:
convert_df.head()
convert_df.index = cpy_appliances.index

In [16]:
convert_df

,10,100,1000,20,200,2000,2053013552226107603,2053013552293216471,2053013552326770905,2053013552351936731,...,xing,yamaguchi,yika,zanussi,zass,zelmer,zerten,zobo,zorg,zubr
product_id,,,,,,,,,,,,,,,,,,,,,
3900821,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2900536,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3900990,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2700239,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6200688,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3801417,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6302306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29100078,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3601639,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4201348,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [18]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_df = cosine_similarity(convert_df, convert_df)

In [26]:
pd.DataFrame(cosine_df,index=cpy_appliances.index, columns=cpy_appliances.index).iloc[0].sort_values()

product_id
3800834    0.136083
3800835    0.136083
3801285    0.144338
3800919    0.144338
5000655    0.144338
             ...
3900834    0.833333
3901190    0.833333
3901174    0.833333
3900339    1.000000
3900821    1.000000
Name: 3900821, Length: 11427, dtype: float64